Repository googleapis/python-dlp, pull requests merged in 2020-12, with the labels that each got.

#76 chore(samples): add samples for custom infotype rules
  samples/snippets/custom_infotype.py
  samples/snippets/custom_infotype_test.py
Labels: api: dlp, automerge, cla: yes, samples

#75 fix!: rename fields that collide with builtins; retrieve job config for risk analysis jobs
  .github/snippet-bot.yml
  .github/sync-repo-settings.yaml
  .kokoro/docs/common.cfg
  .kokoro/populate-secrets.sh
  .kokoro/release/common.cfg
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/test-samples.sh
  .kokoro/trampoline.sh
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/conf.py
  docs/dlp_v2/types.rst
  google/cloud/dlp_v2/proto/dlp.proto
  google/cloud/dlp_v2/proto/storage.proto
  google/cloud/dlp_v2/services/dlp_service/async_client.py
  google/cloud/dlp_v2/services/dlp_service/client.py
  google/cloud/dlp_v2/services/dlp_service/transports/base.py
  google/cloud/dlp_v2/services/dlp_service/transports/grpc.py
  google/cloud/dlp_v2/services/dlp_service/transports/grpc_asyncio.py
  google/cloud/dlp_v2/types/dlp.py
  google/cloud/dlp_v2/types/storage.py
  noxfile.py
  samples/snippets/README.rst
  samples/snippets/inspect_content.py
  samples/snippets/jobs.py
  samples/snippets/noxfile.py
  samples/snippets/redact.py
  scripts/decrypt-secrets.sh
  scripts/fixup_dlp_v2_keywords.py
  scripts/readme-gen/templates/README.tmpl.rst
  scripts/readme-gen/templates/install_deps.tmpl.rst
  synth.metadata
  tests/unit/gapic/dlp_v2/test_dlp_service.py
Labels: api: dlp, cla: yes, context: partial

#89 fix: remove gRPC send/recv limits; add enums to `types/__init__.py`
  google/cloud/dlp_v2/services/dlp_service/transports/__init__.py
  google/cloud/dlp_v2/services/dlp_service/transports/grpc.py
  google/cloud/dlp_v2/services/dlp_service/transports/grpc_asyncio.py
  google/cloud/dlp_v2/types/__init__.py
  samples/snippets/README.rst
  synth.metadata
  tests/unit/gapic/dlp_v2/test_dlp_service.py
Labels: api: dlp, cla: yes, context: partial

#92 chore: exclude `.nox` from linting; document supported python versions
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  synth.metadata
Labels: api: dlp, automerge, cla: yes, context: full
